:root{
    --black:#000;
    --cyan:#AEDEE0;
    --white:#fff;
    --salmon:#EF9D71;
    --dcyan:#223134;
    --dsalmon:#532521;
    --font:'neue machina'
}


/* font-(family-name:--font) */

.vdodiv{
    clip-path: circle(var(--clip) at 50% 50% );
}

*::selection{
    background-color: #F0B595;
}

body[theme="black"]{
    background-color: var(--black);
}

body[theme="black"] .section{
    color: var(--white);
}

body[theme="cyan"]{
    background-color: var(--cyan);
}

body[theme="cyan"] .section{
    color: var(--dcyan);
}

body[theme="salmon"]{
    background-color: var(--salmon);
}

body[theme="salmon"] .section{
    color: var(--dsalmon);
}

body[theme="white"]{
    background-color: var(--white);
}
body[theme="white"] .section{
    color: var(--black);
}

body {
    transition: background-color 0.5s ease-out;
}

.elem h1{
    font-family: Neue Machina;
}

